

/* Main styles */

.main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100vw;
  padding-top: 6rem;
  min-height: 100vh;
  font-size: 1rem;
}
.login, .register {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100vw;
  min-height: 100vh;
  padding: 8rem 0;
}
.login .container, .register .container {
  width: 80%;
  padding: 1rem;
}
.login .mb-5 .m-0, .register .mb-5 .m-0 {
  font-size: var(--dl-size-size-xtiny);
}
.login .mb-5 .m-0 a, .register .mb-5 .m-0 a {
  padding: 1rem;
  color: #b614b6;
  font-weight: 500;
}
.login .container .row:last-child .col-xl-8, .register .container .row:last-child .col-xl-8 {
  width: 100%;
  padding: 1rem;
}
.login .container .row:last-child .col-12 .gy-5, .register .container .row:last-child .col-12 .gy-5 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  width: 100%;
  font-size: var(--dl-size-size-xtiny);
  padding: 1rem;
}
.login .container .row:last-child .col-12 .gy-5 .gap-3, .register .container .row:last-child .col-12 .gy-5 .gap-3 {
  width: 10%;
}
/* .login input[type=text], .login input[type=email], .login input[type=password] {
  color: #974304;
} */




/* Templates Styles */
/* ________________________________________________________________ */
/* ---------------------------------------------------------------- */
.feature-card-container {
    gap: var(--dl-space-space-unit);
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: flex-start;
  }
  .feature-card-text {
    font-weight: 600;
    line-height: 28px;
  }
  @media(max-width: 768px) {
    .feature-card-feature-card {
      flex-direction: row;
    }
    .feature-card-container {
      flex-direction: column;
    }
  }
  @media(max-width: 479px) {
    .feature-card-container {
      flex-direction: column;
    }
  }
  
  .question1-container {
    gap: var(--dl-space-space-unit);
    flex: 1;
    width: auto;
    height: auto;
    display: flex;
    position: relative;
    align-items: flex-start;
    flex-direction: column;
  }
  .question1-text {
    font-weight: 700;
  }
  
  .home-header {
    width: 100%;
    height: 6rem;
    display: flex;
    z-index: 100;
    position: fixed;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    /* background-color: var(--theme-dark); */
  }
  header {
    background-color: var(--theme-dark);
  }

  /* topbar check live status */
  .topbar {
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    background-color: var(--dl-color-gray-black);
    width: 100vw;
    height: 2rem;
    padding: 0 3%;
    color: var(--theme-light);
    font-size: 0.7rem;
    font-weight: 500;
    z-index: 5;
  }
  .stat {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 10%;
    height: 100%;
    font-size: 0.8rem;
    border: none;
    border-radius: 1rem;
  }
  .offln {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: red;
    height: 100%;
    padding: 0 0.5rem;
    color: cornsilk;
    text-align: center;
    text-wrap: nowrap;
    border: none;
    border-radius: 1rem;
  }
  .onln {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: green;
    height: 100%;
    padding: 0 0.5rem;
    color:palegreen;
    text-align: center;
    text-wrap: nowrap;
    border: none;
    border-radius: 1rem;
  }
  .navbarContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    width: 100%;
    height: 4rem;
    padding: 0.5rem 1.5rem;
  }
  .home-header .logo {
    font-size: var(--dl-size-size-xxmedium);
    font-weight: 600;
  }
  .home-desktop-menu {
    flex: 1;
    display: flex;
    justify-content: space-between;
  }
  .home-links {
    flex: 1;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
    padding: 0 1rem;
    font-size: var(--dl-size-size-xtiny);
  }
  .home-nav12 {
    transition: 0.3s;
    padding: 0 var(--dl-space-space-halfunit);
  }
  .home-nav2 {
    transition: 0.3s;
    padding: 0 var(--dl-space-space-halfunit);
  }
  .home-nav3 {
    transition: 0.3s;
    padding: 0 var(--dl-space-space-halfunit);
  }
  .home-nav4 {
    transition: 0.3s;
    padding: 0 var(--dl-space-space-halfunit);
  }
  .home-nav5 {
    transition: 0.3s;
    padding: 0 var(--dl-space-space-halfunit);
  }
  .home-buttons {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 0.5rem;
  }
  .home-login {
    margin-right: 32px;
    border-color: #291e6c;
  }
  .home-register {
    border-color: #291e6c;
  }
  .home-burger-menu {
    display: none;
  }
  .home-icon {
    width: var(--dl-size-size-xsmall);
    cursor: pointer;
    height: var(--dl-size-size-xsmall);
  }
  .home-mobile-menu1 {
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100vh;
    display: none;
    padding: 32px;
    z-index: 100;
    position: absolute;
    flex-direction: column;
    justify-content: space-between;
  }
  .home-nav {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
  }
  .home-top {
    width: 100%;
    display: flex;
    align-items: center;
    margin-bottom: var(--dl-space-space-threeunits);
    justify-content: space-between;
  }
  .home-close-menu {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .home-icon02 {
    width: var(--dl-size-size-xsmall);
    cursor: pointer;
    height: var(--dl-size-size-xsmall);
  }
  .home-links1 {
    flex: 0 0 auto;
    display: flex;
    align-self: flex-start;
    align-items: flex-start;
    flex-direction: column;
  }
  .home-nav1 {
    margin-bottom: var(--dl-space-space-unit);
  }
  .home-nav21 {
    margin-bottom: var(--dl-space-space-unit);
  }
  .home-nav31 {
    margin-bottom: var(--dl-space-space-unit);
  }
  .home-nav41 {
    margin-bottom: var(--dl-space-space-unit);
  }
  .home-nav51 {
    margin-bottom: var(--dl-space-space-unit);
  }
  .buttonFilled {
    background-color: #564b96;
    padding: 0.5rem 1rem;
    color: #cbc7e2;
    font-size: var(--dl-size-size-xxtiny);
    border-width: 0.1rem;
    border-radius: 10rem;
  }
  .buttonFlat {
    background-color: transparent;
    padding: 0.5rem 1rem;
    color: #fee2cd;
    font-size: var(--dl-size-size-xxtiny);
    border: 0.1rem solid #cbc7e2;
    border-radius: 10rem;
  }
  .buttonOutline {
    background-color: transparent;
    padding: 0.5rem 1rem;
    color: #fee2cd;
    font-size: var(--dl-size-size-xxtiny);
    font-weight: bold;
    letter-spacing: 0.1rem;
    border: 0.2rem solid #fee2cd;
    border-radius: 2rem;
  }
  .buttonFilledSecondary {
    padding: 0.7rem 1.2rem;
    font-size: var(--dl-size-size-xxtiny);
    font-weight: bold;
    letter-spacing: 0.1rem;
    border: none;
    border-radius: 2rem;
  }
  .basicPricingCard .buttonFilledSecondary {
    background-color: #0a307e;
    color: #b6ccfa;
  }
  .proPricingCard .buttonFilledSecondary {
    background-color: #2c4a20;
    color: #c4e1b9;
  }
  .home-buttons1 {
    display: flex;
    margin-top: var(--dl-space-space-unit);
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
  }
  .home-icon04 {
    width: var(--dl-size-size-xsmall);
    height: var(--dl-size-size-xsmall);
    margin-right: var(--dl-space-space-twounits);
  }
  .home-icon06 {
    width: var(--dl-size-size-xsmall);
    height: var(--dl-size-size-xsmall);
    margin-right: var(--dl-space-space-twounits);
  }
  .home-icon08 {
    width: var(--dl-size-size-xsmall);
    height: var(--dl-size-size-xsmall);
  }
  .hdng {
    font-size: var(--dl-size-size-xtiny);
    font-weight: bold;
    text-transform: uppercase;
  }
  .heading1 {
    font-size: var(--dl-size-size-xlarge);
    font-weight: 500;
  }
  .heading2 {
    font-size: var(--dl-size-size-xxlarge);
    font-weight: 500;
  }
  .heading3 {
    font-size: var(--dl-size-size-xxsmall);
    font-weight: 500;
  }
  .home-footer {
    background-color: #2b324e;
    flex: 0 0 auto;
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2rem;
  }
  .footerContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
  }
  .home-container31 {
    gap: var(--dl-space-space-unit);
    display: flex;
    max-width: var(--dl-size-size-maxwidth);
    align-items: center;
    flex-direction: column;
    justify-content: flex-start;
    color: #ed89f6;
  }
  .home-container31 .logo {
    font-size: var(--dl-size-size-xxmedium);
    font-weight: 600;
    letter-spacing: 0.5rem;
  }
  .home-nav1 {
    flex: 0 0 auto;
    display: flex;
    margin-top: 0px;
    align-items: center;
    flex-direction: row;
    font-size: var(--dl-size-size-xtiny);
  }
  .home-nav11 {
    margin-left: 0px;
  }
  .home-nav22 {
    margin-left: var(--dl-space-space-unit);
  }
  .home-nav32 {
    margin-left: var(--dl-space-space-unit);
  }
  .home-nav42 {
    margin-left: var(--dl-space-space-unit);
  }
  .home-nav52 {
    margin-left: var(--dl-space-space-unit);
  }
  .home-separator {
    flex: 0 0 auto;
    width: 100%;
    height: 0px;
    display: flex;
    margin-top: var(--dl-space-space-twounits);
    align-items: flex-start;
    margin-left: 0px;
    border-color: #5a74aa;
    border-style: solid;
    border-width: 1px;
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-twounits);
    flex-direction: row;
    border-top-width: 0px;
    border-left-width: 0px;
    border-right-width: 0px;
  }
  .home-container32 {
    flex: 0 0 auto;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
  }
  .home-text89 {
    color: #71b556;
    font-size: var(--dl-size-size-xtiny);
  }
  .home-sicon-group1 {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
  }
  .socialIcons {
    fill: #fd744f !important;
  }
  .socialIcons path {
    cursor: pointer;
  }
  .home-icon10 {
    width: 24px;
    height: 24px;
    margin-right: var(--dl-space-space-twounits);
  }
  .home-icon12 {
    width: 24px;
    height: 24px;
    margin-right: var(--dl-space-space-twounits);
  }
  .home-icon14 {
    width: 24px;
    height: 24px;
  }
  /* @media(max-width: 991px) {} */
  @media(max-width: 767px) {
    .home-navbar-interactive {
      padding-left: var(--dl-space-space-twounits);
      padding-right: var(--dl-space-space-twounits);
    }
    .home-desktop-menu {
      display: none;
    }
    .home-burger-menu {
      display: flex;
      align-items: center;
      justify-content: center;
    }
    .home-nav1 {
      margin-bottom: var(--dl-space-space-unit);
    }
    .home-nav21 {
      margin-left: 0;
      margin-bottom: var(--dl-space-space-unit);
    }
    .home-nav31 {
      margin-left: 0;
      margin-bottom: var(--dl-space-space-unit);
    }
    .home-nav41 {
      margin-left: 0;
      margin-bottom: var(--dl-space-space-unit);
    }
    .home-nav51 {
      margin-left: 0;
      margin-bottom: var(--dl-space-space-unit);
    }
    .home-footer1 {
      padding-left: var(--dl-space-space-twounits);
      padding-right: var(--dl-space-space-twounits);
    }
    .home-separator {
      margin-top: var(--dl-space-space-oneandhalfunits);
      margin-left: 0px;
      margin-right: 0px;
      margin-bottom: var(--dl-space-space-oneandhalfunits);
    }
    .home-container32 {
      align-items: center;
      flex-direction: column;
      justify-content: space-between;
    }
    .home-text89 {
      margin-bottom: var(--dl-space-space-oneandhalfunits);
    }
  }
  @media(max-width: 479px) {
    .home-navbar-interactive {
      padding: var(--dl-space-space-unit);
    }
    .home-mobile-menu1 {
      padding: 16px;
    }
    .home-footer1 {
      padding: var(--dl-space-space-unit);
    }
    .home-separator {
      margin-top: var(--dl-space-space-oneandhalfunits);
      margin-bottom: var(--dl-space-space-oneandhalfunits);
    }
    .home-container32 {
      align-items: center;
      flex-direction: column;
      justify-content: space-between;
    }
    .home-text89 {
      text-align: center;
      margin-bottom: var(--dl-space-space-oneandhalfunits);
    }
  }
  
  



