
.container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    width: 90%;
    min-height: 50rem;
    padding: 2rem;
}
.hdr {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    font-weight: 200;
    letter-spacing: 0.5rem;
}
.dtatbl {
    width: 100%;
    height: 30rem;
    overflow: auto;

    th {
        background-color: #2b0625;
        padding: 0.5rem;
        color: #ffcce9;
        white-space: nowrap;
        text-align: center;
        transition: all 0.2s linear;

        &:hover {
            background-color: #5f0e52;
        }
    }
    td {
        background-color: #3b2a4b;
        padding: 0.5rem;
        text-align: center;
    }
    table, th, td {
        border: none;
        border-collapse: separate;
        border-spacing: 0.2rem;
        border-radius: 0.5rem;
    }
    .nowrap {
        white-space: nowrap;
    }
}

nav {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;

    .page-item {
        .active {
            background-image: radial-gradient(#14dcc1 10%, #054d43 100%);
        }
    }
    .page-link {
        display: flex;
        justify-content: space-around;
        align-items: center;
        background-color: #8669a1;
        /* background-image: radial-gradient(crimson 10%, #3a000c 100%); */
        width: 5rem;
        padding: 0.5rem;
        color: #16002b;
        font-weight: 600;
        border: none;
        border-radius: 0.2rem;
    
        &:disabled {
            background-image: radial-gradient(#dc14d2 10%, #29003a 100%);
            color: #ffcce9;
        }
    }
}